<div class="commentaire">

    <h3 class="carouselCom-titre">Les derniers avis : </h3>

    <div id="carouselCommentaires" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/avatars/1.png') }}" class="d-block " alt="avatar commentaire">
                <p class="carousel-text"><em>Petit-déjeuner organisé à Générix pour 50 personnes</em> <br> <strong>&lt;&lt; Petit-déjeuner avant conférence, bonne humeur, rencontres et échanges enrichissants >></strong></p>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/avatars/avatar2.png') }}" class="d-block" alt="avatar commentaire">
                <p class="carousel-text"><em>Petit-déjeuner organisé à Radio ActivIT pour 12 personnes</em> <br> <strong>&lt;&lt; Organisé pour une rencontre client, le petit dej a été très apprécié >></strong></p>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/avatars/avatar4.png') }}" class="d-block " alt="avatar commentaire">
                <p class="carousel-text"><em>Petit-déjeuner organisé à Eli Ela pour 20 personnes</em> <br> <strong>&lt;&lt; Petit dej parfait pour motiver les troupes ! je recommande ce site >></strong></p>
            </div>
        </div>
        <a class="carousel-control-prev precedent" href="#carouselCommentaires" role="button" data-slide="prev"></a>
        <a class="carousel-control-next suivant" href="#carouselCommentaires" role="button" data-slide="next"></a>
        <ol class="carousel-indicators indicateursCom">
            <li data-target="#carouselCommentaires" data-slide-to="0" class="active"></li>
            <li data-target="#carouselCommentaires" data-slide-to="1" ></li>
            <li data-target="#carouselCommentaires" data-slide-to="2"></li>
        </ol>
    </div>

</div>