{% extends "@Ptitdej/Default/layoutForm.html.twig" %}
{% block formulaire %}

    <h1>Vous avez commandé un petit déjeuner d'entreprise avec ptitdej.fr </h1>
    <p> Partagez votre expérience avec vos paires</p>
    <p>vous avez la possibilité de poster un commentaire et une photo de l'évenement.<br/>
    étape 1 : identifiez-vous :</p>


{% endblock %}