<div class="row">
    <div class="col-md-12">
        <div class="detailsFormTitre">
            <h2>Vous souhaitez organiser un petits déjeuners ?</h2>
        </div>
    </div>
    <div class="col-md-6 detailsFormDetails">
        <p>Notre site compte plus de 70 prestataires de petits déjeuners qui proposent différentes formules </p>
        <p> Etapes de l'enregistrement :</p>
        <p> 1: Vos renseignements personnels (conservés en toutes confidentalité).</p>
        <p> 2 : Description de l'événement que vous souhaitez organiser</p>
        <p> 3 : Nous vous contacterons pour vous proposer une offre qui corespond à vos besoins et votre budget.</p>
    </div>
    <div class="col-md-6 detailsFormImage">
        <img src="{{ asset('images/detailFormEntreprise.jpg') }}" alt="image d'un ptit dej d'entreprise">
    </div>
</div>