<div class="row">
    <div class="col-md-6 detailsFormDetails">
        <p class="etapesTitre"> Etapes de l'enregistrement :</p>
        <p> 1: Vos renseignements personnels (conservés en toutes confidentalité).</p>
        <p> 2 : Description des différentes offres que vous proposez. n'hésitez pas à rentrer des les détails.</p>
        <p> 3 : Nous vous contacterons si  un client souhaite commander un pti dej qui corespond à l'une de vos offres.</p>
    </div>
    <div class="col-md-6 detailsFormImage">
        <img src="{{ asset('images/boulangerie.jpg') }}" alt="image d'une boulangerie">
    </div>
</div>