{% extends "@Ptitdej/Default/layoutForm.html.twig" %}

{% block formulaire %}
<div class="text-center" style="margin-top: 75px;">
    <p>Nous sommes désolés, un probleme est survenu</p>
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    <a class=" btn myButtonBis " href="{{ path('ptitdej_homepage') }}">
        Retour à l'accueil
    </a>
    </div>
{% endblock %}