<footer>
    <div class=row>
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="footerListe">
                    <div class="col-md-4">
                        <div class="suivez-nous">
                            <p>
                                Suivez-nous :
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{ asset('images/design/facebook.png') }}" alt="logo facebook" />
                                </div>
                                <div class="col-md-2">
                                    <img src="{{ asset('images/design/tweeter.png') }}" alt="logo tweeter"/>
                                </div>
                                <div class="col-md-2">
                                    <img src="{{ asset('images/design/google.jpg') }}" alt="logo google">
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footerListe">
                    <div class="col-md-4">
                        <h5>menu</h5>
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Qui sommes-nous ? </a></li>
                            <li><a href="#">Nous contacter </a></li>
                        </ul>
                    </div>
                </div>
                <div class="footerListe">
                    <div class="col-md-4">
                        <h5>Actions</h5>
                        <ul>
                            <li><a href="#">organiser un petit dej</a></li>
                            <li><a href="#">vendre des petits dej</a></li>

                        </ul>
                    </div>
                </div>
            </div>
</footer>