{% extends "@Ptitdej/Default/formulaire.html.twig" %}


{% block evenement %}
<fieldset class="evenement">
    <legend>Renseignements sur l'événement</legend>
    <hr>
    {{ form_start(formEvenement) }}
    <div class="form-group form-inline">{{ form_row(formEvenement.date) }}</div>
    {{ form_end(formEvenement) }}
</fieldset>
{% endblock %}


