<div class="col-md-12">
    <div class="detailsFormTitre">
        <h2>Vous souhaitez organiser un petit déjeuner ?</h2>
        <p>Notre site compte plus de 70 prestataires de petits déjeuners qui proposent différentes formules. </p>
    </div>
</div>