<div class="col-md-12">
    <div class="detailsFormTitre">
        <h2>Vous préparez des petits déjeuners ?</h2>
        <p>Notre site compte plus de 150 entreprises qui commandent et recommandent des petits déjeuners. </p>
    </div>
</div>