<div class="col-md-12">
    <div class="detailsFormTitre">
        <h2>Vous préparez ou vous souhaitez organiser un petit déjeuner ?</h2>
        <p>vos renseignement personnels seront conservés en tout confidentialité et utilisés qu'a des fins commerciales</p>
    </div>
</div>