.logo{
    text-align: center;
    color: white;
}
.header{
    padding: 150px 0;
    background-color: rgb(21, 13, 10);
    color: #fff;
    background-image: url("../images/imagesPtiDej/entreprise12Sombre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

h1, .headerTexte, .preuve{
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}
.headerTexte{
    font-size: 20px;
}
h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 10px;
}
.boutons{
    padding: 10px 200px 50px 200px;
    text-align: center;
}
.intro{
    padding: 0;
}
.intro img{
    width: 100% \9;
    padding: 3px;
}

.myButton {
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa4619), color-stop(1, #ffb726));*/
    /*background:-moz-linear-gradient(top, #fa4619 5%, #ffb726 100%);*/
    /*background:-webkit-linear-gradient(top, #fa4619 5%, #ffb726 100%);*/
    /*background:-o-linear-gradient(top, #fa4619 5%, #ffb726 100%);*/
    /*background:-ms-linear-gradient(top, #fa4619 5%, #ffb726 100%);*/
    /*background:linear-gradient(to bottom, #fa4619 5%, #ffb726 100%);*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa4619', endColorstr='#ffb726',GradientType=0);*/
    background-color:#fa7e19;
    box-shadow: #481404 3px 3px 5px 0px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    border:1px solid #ff2424;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 6px;
    text-decoration:none;
    /*text-shadow:0 1px 0 #ff6666;*/
}
.myButton:hover {
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffb726), color-stop(1, #fa4619));*/
    /*background:-moz-linear-gradient(top, #ffb726 5%, #fa4619 100%);*/
    /*background:-webkit-linear-gradient(top, #ffb726 5%, #fa4619 100%);*/
    /*background:-o-linear-gradient(top, #ffb726 5%, #fa4619 100%);*/
    /*background:-ms-linear-gradient(top, #ffb726 5%, #fa4619 100%);*/
    /*background:linear-gradient(to bottom, #ffb726 5%, #fa4619 100%);*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb726', endColorstr='#fa4619',GradientType=0);*/
    background-color:#ffb007;
    color:#4e2202;
}
.myButton:active {
    position:relative;
    top:1px;
}

.fond2{
    background-image: url("../images/imagesPtiDej/entreprise8fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fond3{
    background-image: url("../images/imagesPtiDej/entreprise2fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
.tasseDessin{
    text-align: center;
    margin: 70px 10px 40px 10px;
}
.couleur{
    background-color: rgb(21, 13, 10);
    text-align: center;
    padding: 60px 40px;
    font-size: 26px;
    font-style: normal;
    color: #fff;
}
.explications{
    margin: 40px 0 40px 0;
}
.explicationsTexte{
    color: black;
}
.prestataireTexteExplication{
    text-align: right;
}
.gras{
    font-size: 30px;
    text-transform: uppercase;
}
.plus{
    font-size: 22px;
    font-style: normal;
}
.carouselCom-titre{
    text-align: center;
    margin: 30px 0;
}
.carousel-inner img{
    width: 20%;
    margin: auto;
}
.carousel-text{
    color: black;
    text-align: center;
}
.indicateursCom{
    position: relative;
}
.indicateursCom li{
    background-color: #150d0a;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 6px;
}
.indicateursCom .active{
    background-color: #fa7e19;
}
.precedent:after
{
    content: '<';
    font-size: 40px;
    color: #150d0a;
}
.suivant:after
{
    content: '>';
    font-size: 40px;
    color: #150d0a;
}
.carousel-control-next-icon:hover
{
    color: #fa4b19;
}
/*.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {*/
    /*opacity: 1;*/
    /*color:#310d0d;*/
/*}*/

.footer{
    padding: 30px 0 40px 0;
    color: #fff;
    background-image: url("../images/imagesPtiDej/entreprise13fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo-reseau-sociaux img{
    max-width: 32px;
}
.footer img{
    width: 100%;
}
.footer a{
    color: #fff;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.logo img{
    width: 150px;
}
.socialLink{
    margin-right: 4px;
}

.message-flash{
    padding: 20px 0;
    text-align: center;
    background-image: linear-gradient(#ffc107,#fa511a);
    color: black;
    font-size: 23px;}

@media (max-width: 996px) {
    .boutons{
        padding: 0 100px 50px 100px;
    }
    h1{
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .boutons{
        padding: 0 50px 50px 50px;
    }
    h1{
        font-size: 20px;
    }
    .avatar img{
         width: 20%;
     }
}