.logo{
    text-align: center;
    color: white;
}
.header{
    padding: 150px 0;
    background-color: rgb(21, 13, 10);
    color: #fff;
    background-image: url("../images/imagesPtiDej/entreprise12Sombre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

h1, .headerTexte, .preuve{
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    padding: 0 30px;
}

.headerTexte{
    font-size: 20px;
}
h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 10px;
}
.boutons{
    padding: 10px 200px 50px 200px;
    text-align: center;
}
.intro{
    padding: 0;
}
.intro img{
    width: 100% \9;
    padding: 3px;
}

.myButton {
    background-color:#fa7e19;
    box-shadow: #481404 3px 3px 5px 0;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    border:1px solid #ff2424;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 6px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#ffb007;
    color:#4e2202;
}
.myButton:active {
    position:relative;
    top:1px;
}
.btn-header .myButton{
    width: 50%;
}
.couleur .myButton{
    width: 310px;
}

.fondEntre{
    background-image: url("../images/imagesPtiDej/entreprise8fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fondPresta{
    background-image: url("../images/imagesPtiDej/entreprise2fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
.tasseDessin{
    text-align: center;
    margin: 80px 10px 60px 10px;
}
.couleur{
    background-color: rgb(21, 13, 10);
    text-align: center;
    padding: 60px 40px;
    font-size: 26px;
    font-style: normal;
    color: #fff;
}
.explications{
    margin: 60px 0 60px 0;
}
.explicationsTexte{
    color: black;
    text-align: justify;
    margin-right: 186px;
}
.prestataireTexteExplication{
    direction:rtl;
    text-align:justify;
    margin-right: 0;
    margin-left: 186px;
}
.gras{
    font-size: 30px;
    text-transform: uppercase;
}
.plus{
    font-size: 22px;
    font-style: normal;
}
#carouselCommentaires{
    margin-bottom: 40px;
}
.carouselCom-titre{
    text-align: center;
    margin: 50px 0;
}
.carousel-inner img{
    width: 17%;
    margin: auto;
    padding-bottom: 15px;
}
.carousel-text{
    color: black;
    text-align: center;
    padding: 0 150px;
}
.indicateursCom{
    position: relative;
}
.indicateursCom li{
    background-color: #150d0a;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 6px;
}
.indicateursCom .active{
    background-color: #fa7e19;
}
.precedent:after
{
    content: '<';
    font-size: 40px;
    color: #150d0a;
}
.suivant:after
{
    content: '>';
    font-size: 40px;
    color: #150d0a;
}
.carousel-control-next-icon:hover
{
    color: #fa4b19;
}

.footer{
    padding: 30px 0 40px 0;
    color: #fff;
    background-image: url("../images/imagesPtiDej/entreprise13fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo-reseau-sociaux img{
    height: 32px;
    width: 32px;
}
.logo-reseau-sociaux {
    margin-bottom: 20px;
}
.footer a{
    color: #fff;
}
.footer ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
.logo img{
    width: 150px;
}
.socialLink{
    margin-right: 4px;
}

.message-flash{
    padding: 20px 0;
    text-align: center;
    background-image: linear-gradient(#ff8508,#fa511a);
    color: #fff;
    font-size: 23px;
    position: absolute;
    width: 100%;
    border-radius: 40px;
    top: 20px;
    border: solid 1px #f73d00;
    box-shadow: 1px 2px 4px 1px #331702;
}

@media (max-width: 1265px) {
    .header{
        padding-top: 70px;
        padding-bottom: 40px;
    }
}
@media (max-width: 1200px) {
    .explicationsTexte{
        margin-right: 153px;
    }
    .prestataireTexteExplication{
        margin-right: 0;
        margin-left: 153px;
    }
}

@media (max-width: 992px) {
    .header{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .btn-header .myButton{
        width: 80%;
    }
    .boutons{
        padding: 0 100px 50px 100px;
    }
    h1{
        font-size: 28px;
    }
    .tasseDessin{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .explicationsTexte{
        margin-right: 0;
    }
    .prestataireTexteExplication{
        margin-left: 0;
    }
    .carousel-text{
        padding: 0 80px;
    }
}

@media (max-width: 576px) {
    .headerTexte{
        font-size: 17px;
        padding: 0 15px;
        height: 150px;
    }
    .boutons{
        padding: 0 50px 50px 50px;
    }
    h1{
        font-size: 20px;
    }
    .couleur .myButton{
        width: 80%;
    }
    .tasseDessin{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .col-une-tasse{
        padding-top: 20px;
    }
    .tassethe{
        text-align: center;
    }
    .tassexs{
        margin:auto;
        padding-top: 15px;
    }
    .prestataireTexteExplication{
        direction: inherit;
    }
    .carousel-text{
        padding: 0 60px;
    }
    .avatar img{
         width: 20%;
     }
}
@media (max-width: 394px) {
    .header .myButton{
        width: 100%;
        font-size: 19px;
    }
    .couleur .myButton{
        width: 100%;
        font-size: 18px;
    }
    .couleur{
        font-size: 17px;
    }
}